fastapi
uvicorn[standard]
python-dotenv
pydantic 
requests
tenacity
cachetools
supabase
langchain
langchain-core  
langgraph
langchain-community
langchain-google-genai
httpx
newsapi-python
google-search-results
fmpsdk
alpha-vantage

# faiss-cpu==1.7.4 # Commented out due to build issues (missing headers for swig)
# sentence-transformers==2.2.2 # Commented out as it depends on faiss-cpu
aiohttp

pdfplumber
python-docx
openpyxl
reportlab
pdfplumber
python-docx







